body{
    margin: 0;
    padding:0;
}
header{

background-colr: #e5e7ea;

overflow: hidden;
}

.container{
    margin: auto;
    width: 80%;
    /* background-color: #faf; */
    /* overflow: hidden; */
}
.photodiary{
    width: 80%;
    margin: auto;
}

div.logo{
    float:  left;
}
.logo img{
    margin: 30px;
    
}
nav{
    width: 82%;
    float: left;
}
nav ul{
    
text-align:  right;
    
text-transform: uppercase;
    
color: #000000bf;
}
nav ul li{
    display: inline-block;
    text-align: right;
    list-style: none;
}
nav ul li a{
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    color: black;
}
.content{
    margin-top: 50px;
}
.

section div span .boss{
    margin-left: 185px;
    text-transform: uppercase;
    color: #9a9696;
}
.heading{
    margin-left: 185px;
    text-transform: uppercase;
    color: #00000047;
}
.headline{
    color: #00000070;
    text-transform: capitalize;
}
.description{
    margin-right: 184px;
    text-align: justify;
    text-transform: none;
    color: black;
}
.comment{
    margin-bottom: 10px;
}
.controller{
    width: 80%;
    margin: auto;
}
.photo1{
    width: 44%;
    float: left;
    margin-left: 48px;
}
.blog1{
    width: 100%;
}
.paragraph1{
    text-align: justify;
}
.photo2{
    width: 44%;
    float:   right;
    margin-right: 46px;
}
.blog2{width: 100%;}
.paragraph2{
    text-align: justify;
}
