body{
    margin: 0;
    padding:0;
}
header{
    padding: 30px 0px;
    
}

.container{
    margin: auto;
    width: 1200px;
}
div.logo{
    float:  left;
}
.logo img{
    padding-left: 25px;
    margin: 30px;
    
}
nav{
    width: 80%;
    float: left;
}
nav ul{
    
text-align:  right;
    
text-transform: uppercase;
    
color: #000000bf;
}
nav ul li{
    display: inline-block;
    text-align: right;
    list-style: none;
}
nav ul li a{
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    color: black;
}
div section img{
    width: 81%;
    margin-left: 126px;
}
.photodiary{
    margin-left: 185px;
    text-transform: uppercase;
    color: #9a9696;
}
.heading{
    margin-left: 185px;
    text-transform: capitalize;
    color: #6c6c6c;
}
.headline{}
.description{
    margin-right: 184px;
    text-align: justify;
    text-transform: none;
}
.vlog2{
    float: right;
    width: 475px;
    margin-right: 180px;
}
.vlog1{
    float: left;
    width: 475px;
    margin-left: 180px;
}
.content{
    margin-top: 50px;
}
.paragraph{
    /* margin-right: 185px; */
    text-align: justify;
}
.blog1{
    width: 475px;
}
.blog2{
    width: 475px;
}